{% include "claus_portaal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}

<body>
<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>


<div class="container">

<br>

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-header">
<h5 class="card-title"><i class="fa fa-users" aria-hidden="true"></i> Personen</h5>
</div>
<div class="card-body">      
<p class="card-text">U dient eerst een account te maken, voordat de persoonsgegevens aan het account kan koppelen</p>
</div>
</div>



<br>

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-header">
<h5 class="card-title"><i class="fas fa-user-plus" aria-hidden="true"></i> Maak account</h5>
</div>
<div class="card-body">      
<p class="card-text">Maak een account en voeg persoon toe</p>
<!--a href="#" class="card-link">Voeg Persoon toe</a-->
<a href="{% url 'register' %}" class="btn btn-link">Account maken</a>  
        
</div>
</div>





<br>
</div>









<!--div class="col-sm-6">
<div class="card">
<div class="card-header">
<h5 class="card-title"><i class="fas fa-user-edit" aria-hidden="true"></i> Beheer accounts</h5>
</div>
<div class="card-body">
<p class="card-text">	Hier kunt u accountgegevens wijzigen</p>

<a href="#" class="card-link">Accounts beheren</a>
</div>
</div-->


<br>







</div>
</div>
</div>




{% endif %}
{% endblock %}