{% include "claus_portaal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}


<body>

<div class="container">

<br>

<div class="row">

<div class="col-sm-6">
<div class="card">
<div class="card-header">
<h5 class="card-title"><i class="fa fa-calendar-o" aria-hidden="true"></i> Registreer uren</h5>
</div>

<div class="card-body">      
<p class="card-text"> Registreer hier uw uren per dag of week</p>

<a href="{% url 'registreer_vandaag' persoon_guid jaar week %}" class="btn btn-link">Registreer uren</a>
<a href="#" class="btn btn-link">Beheer uren</a>
</div>
</div>

</div>


<div class="col-sm-6">
<div class="card">
<div class="card-header">
<h5 class="card-title"><i class="fa fa-user-times" aria-hidden="true"></i> Aanwezigheid</h5>
</div>
<div class="card-body">      
<p class="card-text">Registreer hier uw Afwezigheid</p>

<a  href="{% url 'aanwezigheid' persoon_id %}" class="btn btn-link">Registreer mijn afwezigheid</a>
<a  href="{% url 'aanwezigheid_dagoverzicht' %}" class="btn btn-link">Afwezigheidsoverzicht</a>

</div>
</div>
<br>
</div>



<div class="col-sm-6">
<div class="card">
<div class="card-header">
<h5 class="card-title"><i class="fa fa-th-list" aria-hidden="true"></i> Planning</h5>
</div>
<div class="card-body">      
<p class="card-text">Beheer hier uw planning</p>
<a href="{% url 'claus_planning' %}" class="btn btn-link">Mijn planning</a>
<a href="#" class="btn btn-link">Beheer planningen</a>
</div>
</div>
<br>
</div>







<div class="col-sm-6">
<div class="card">
<div class="card-header">
<h5 class="card-title"><i class="fa fa-calendar-o" aria-hidden="true"></i> Persoonsgegevens</h5>
</div>

<div class="card-body">      
<p class="card-text"> Beheer hier uw persoonsgegevens</p>

<a href="{% url 'registreer_vandaag' persoon_guid jaar week %}" class="btn btn-link">Mijn persoonsgegevens</a>
<a href="#" class="btn btn-link">Bekijk personen</a>
</div>
</div>
<br>


















</div>
<br>
</div>




</div>
<br>





{% endif %}
{% endblock %}