{% include "claus_portaal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}


<body>




<div class="container">

<br>

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-header">
<h5 class="card-title"><i class="fa fa-building" aria-hidden="true"></i> Formulier maken</h5>
</div>
<div class="card-body">      
<p class="card-text">Hier kunt u formulieren maken en beheren die u kunt gebruiken tijdens een rondgang bij een bouwtechnische opname</p>
</div>
</div>



<br>








</div>
</div>
</div>




{% endif %}
{% endblock %}