<!doctype html>
{% include "claus_portaal/base.html" %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block content %}
{% if user.is_authenticated %}


<body>

<div class="container">

<br>

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-header">
<h5 class="card-title"><i class="fa fa-folder-open" aria-hidden="true"></i> Projecten Overzicht</h5>
</div>
<div class="card-body">      
<p class="card-text">Hier kunt u bestaande projectgegevens wijzigen.</p>

{% render_table table %}

  
</div>
</div>
<br>





{% endif %}
{% endblock %}