{% include "claus_portaal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}

<body>


<div class="container">

<br>

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-header">
<h5 class="card-title"><i class="fa fa-folder-open" aria-hidden="true"></i> Bedrijfsadministratie van {{ object }}</h5>
</div>
<div class="card-body">      


<p class="card-text">Projectnummer: {{object.projectnummer}}</p>
<p class="card-text">Projectomschrijving: {{object.projectomschrijving}}</p>
<p class="card-text">Bedrijf: {{object.bedrijfsadministratie}}</p>

<hr>


<hr>

<p class="card-text">Status : {{object.status}}</p>
<br>


  
</div>
</div>
<br>



{% endif %}
{% endblock %}